/*  Fonts  */

@font-face {
    font-family: 'Aleo-Regular';
    src: url('../fonts/Aleo-Regular.eot');
    src: url('../fonts/Aleo-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Regular.woff') format('woff'),
         url('../fonts/Aleo-Regular.ttf') format('truetype'),
         url('../fonts/Aleo-Regular.svg#Aleo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Aleo-Bold';
    src: url('../fonts/Aleo-Bold.eot');
    src: url('../fonts/Aleo-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Bold.woff') format('woff'),
         url('../fonts/Aleo-Bold.ttf') format('truetype'),
         url('../fonts/Aleo-Bold.svg#Aleo-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular.woff') format('woff'),
         url('../fonts/Lato-Regular.ttf') format('truetype'),
         url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold.woff') format('woff'),
         url('../fonts/Lato-Bold.ttf') format('truetype'),
         url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*           Nav Bar             */

.navbar{
    border: 0 none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    font-size: 16px;
}
.navbar-default {
    background-color: #D9D9D9;
    
}
.navbar .navbar-brand {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}
.navbar-nav > li > a {
    margin-top: 13px;
    margin-bottom: 13px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 16px;
}
.navbar-nav > li > a [class^="fa"]{
    font-size: 22px;
}
.navbar-brand{
    padding: 20px 15px;
}

.navbar .btn{
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar-default:not(.navbar-transparent) {
    background-color: rgba(255, 255, 255, 0.96);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-transparent{
    padding-top: 15px;
    background-color: rgba(0,0,0,.0);
}
.navbar-transparent .navbar-brand, [class*="navbar-ct"] .navbar-brand{
    color: #FFFFFF;
    opacity: 0.95;
}
.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #5E5E5E;
}
.navbar-transparent .nav .caret{
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > li > a, [class*="navbar-ct"] .navbar-nav > li > a{
    color: #FFFFFF;
    border-color: #FFFFFF;
    opacity: 0.7;
}
.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus, [class*="navbar-ct"] .navbar-brand:hover, [class*="navbar-ct"] .navbar-brand:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    opacity: 1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    color: #2C93FF;
    opacity: 1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #2C93FF;
    border-top-color: #2C93FF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: rgba(255, 255, 255, 0);
    color: #2C93FF;
}
.navbar-transparent .navbar-nav > .active > a, .navbar-transparent .navbar-nav > .active > a:hover, .navbar-transparent .navbar-nav > .active > a:focus, .navbar-transparent .navbar-nav > li > a:hover, .navbar-transparent .navbar-nav > li > a:focus, [class*="navbar-ct"] .navbar-nav > .active > a, [class*="navbar-ct"] .navbar-nav > .active > a:hover, [class*="navbar-ct"] .navbar-nav > .active > a:focus, [class*="navbar-ct"] .navbar-nav > li > a:hover, [class*="navbar-ct"] .navbar-nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    color: #FFFFFF;
    opacity: 1;
}
.navbar-transparent .navbar-nav > .dropdown > a .caret, [class*="navbar-ct"] .navbar-nav > .dropdown > a .caret{
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .dropdown > a:hover .caret, .navbar-transparent .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .open > a, .navbar-transparent .navbar-nav > .open > a:hover, .navbar-transparent .navbar-nav > .open > a:focus {
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    opacity: 1;
}
.navbar .btn{
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 13px;
}
.navbar .btn-default{
    color: #777777;
    border-color: #777777;
}
.navbar-default:not(.navbar-transparent) .btn-default:hover{
    color: #2C93FF;
    border-color: #2C93FF;
}
.navbar-transparent .btn-default, [class*="navbar-ct"] .btn-default{
    color: #FFFFFF;
    border-color: #FFFFFF;
}
[class*="navbar-ct"] .btn-default.btn-fill{
    color: #777777;
    background-color: #FFFFFF;
    opacity: 0.9;
}
[class*="navbar-ct"] .btn-default.btn-fill:hover, [class*="navbar-ct"] .btn-default.btn-fill:focus, [class*="navbar-ct"] .btn-default.btn-fill:active, [class*="navbar-ct"] .btn-default.btn-fill.active, [class*="navbar-ct"] .open .dropdown-toggle.btn-fill.btn-default{
    border-color: #FFFFFF;
    opacity: 1;
}
.navbar-form{
    box-shadow: none;
}
.navbar-form .form-control{
    background-color: rgba(244, 244, 244, 0);
    border-radius: 0;
    border:0;
    height: 22px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color: #777777;
}
.navbar-transparent .navbar-form .form-control, [class*="navbar-ct"] .navbar-form .form-control{
    color: #FFFFFF;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,.6);
}

.navbar .label{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #BBBBBB;
    text-transform: uppercase;
}
.dropdown-menu > li > a {
/*     border-bottom: 1px solid #DDDDDD; */
    padding: 6px 15px;
    color: #777777;
}
.dropdown-menu > li:first-child > a{
    border-radius: 10px 10px 0 0;
    padding-top: 12px;
}
.dropdown-menu > li:last-child > a{
    border-bottom: 0 none;
    border-radius: 0 0 10px 10px;
    padding-bottom: 12px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #FFFFFF;
    color: #333333;
    opacity: 1;
    text-decoration: none;
}
.dropdown-menu > li > a img{
    margin-right: 5px;
}
.dropdown-menu .divider {
    background-color: #E5E5E5;
    height: 1px;
    margin: 8px 15px;
    overflow: hidden;
}

.navbar-toggle{
    margin-top: 19px;
    margin-bottom: 19px;
    border: 0;
}
.navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.navbar-collapse, .navbar-form {
    border-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(0,0,0,0);
}

/*  General CSS*/

h1, h2, h3, h4, h5 ,h6 {
    color: #ffffff;
    font-family: "Aleo-Regular", arial;
    letter-spacing: 1px;
}
h1 { 
    font-size: 2em;
}
h2 { 
    font-size: 1.5em;
}
h3 { 
    font-size: 1.17em;
}
h5 { 
    font-size: .83em;
}
h6 { 
    font-size: .75em;
}
h1, h2, h3, h4, h5, h6 { 
    font-weight: bolder 
}
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}   
.clearfix {  
    *zoom: 1;  
}
.wrapper{
    width: 790px;
    margin: 0 auto;
}
.content{
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 9999;
    text-align: center;
}
.content H1{
    color: #fff;
    font-family: "Aleo-Bold", arial;
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.content p{
    color: #fff;
    font-family: "Aleo-Regular", arial;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
}
.content p.description{
    margin-top: 20px;
}
.content .subscription_form{
    width: 401px;
    margin: 60px auto 0 auto;
    position: relative;
}
.content .subscription_form > div:before,
.content .subscription_form > div:after{
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background: rgba(255, 255, 255, .3);
    position: absolute;
    top: 50%;
}
.content .subscription_form > div:before{
    left: -35%;
}
.content .subscription_form > div:after{
    right: -35%;
}
.subscription_form form input[type=email],
.subscription_form form input[type=text]{
    display: block;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    color: #00B616;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    float: left;
    margin: 0;
    border: 0;
    font-family: 'Aleo-Regular', arial;
}
.subscription_form form input[type=email]::-webkit-input-placeholder,
.subscription_form form input[type=text]::-webkit-input-placeholder{
   color: #00B616;
}
.subscription_form form input[type=email]::-moz-placeholder,
.subscription_form form input[type=text]::-moz-placeholder{
   color: #00B616;
}
.subscription_form form input[type=email]::-moz-placeholder,
.subscription_form form input[type=text]::-moz-placeholder{
   color: #00B616;
}
.subscription_form form input[type=email]::-ms-input-placeholder,  
.subscription_form form input[type=text]::-ms-input-placeholder{  
   color: #00B616;
} 
.subscription_form form button{
    display: block;
    width: 62px;
    height: 59px;
    background: #ffffff;
    border: 0;
    float: left;
    margin-left: -1px;
    outline: none;
}
.subscription_form form button:hover{
    cursor: pointer;
}
.subscription_form form .icon{
    display: block;
    width: 26px;
    height: 19px;
    background: url("../img/mail_icon.png") no-repeat;
    margin-left: 10px;
}
.subscription_form form .loading{
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/load.gif") no-repeat;
    margin-left: 20px;
}
.back_img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -9999;
    background: #50cda7 url('../img/home-bg.jpg') no-repeat;
    background-position: center 0;
    overflow: hidden;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.gradient_back_img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -9999;
    background: #50cda7 url('../img/bg_img_raw.jpg') no-repeat;
    background-position: center 0;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg_gradient{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -888;
    background: #50cda7;
    background: -moz-linear-gradient(top,  rgba(185, 85, 218, .9) 0%, rgba(81, 179, 160, .9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185, 85, 218, .9)), color-stop(100%,rgba(81, 179, 160, .9)));
    background: -webkit-linear-gradient(top,  rgba(185, 85, 218, .9) 0%,rgba(81, 179, 160, .9) 100%); 
    background: -o-linear-gradient(top,  rgba(185, 85, 218, .9) 0%,rgba(81, 179, 160, .9) 100%); 
    background: -ms-linear-gradient(top,  rgba(185, 85, 218, .9) 0%,rgba(81, 179, 160, .9) 100%); 
    background: linear-gradient(to bottom,  rgba(185, 85, 218, .9) 0%,rgba(81, 179, 160, .9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(185, 85, 218, .9)', endColorstr='rgba(81, 179, 160, .9)',GradientType=0 );

}

/*Counter*/

.counter{
    margin-top: 40px;
}
.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}

.time_circles > div {
    position: absolute;
    text-align: center;
}
.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato-Regular', Arial;
    color: #fff;
    font-weight: normal!important;
}
.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Lato-Bold', Arial;
    margin: 0.25em 0 0.5em 0; 
    font-weight: bold;
    color: #fff;
    font-size: 40px;

}

/*  Tooltip  */

.tooltip{
    display: block;
    padding: 10px 20px;
    background: #454545;
    color: #fff;
    font-family: "Aleo-Regular", arial;
    font-size: 13px;
    position: absolute;
    white-space: nowrap;
    z-index: 999;
    opacity: 0;
    text-align: center;
    letter-spacing: .5px;

}
.tooltip:after{
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: #454545 transparent transparent transparent;
    display: block;
    text-align: center;
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -3px;
}

/* footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
}